<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>area-header</title>
  <link rel="stylesheet/less" href="../common/reset.less">
  <link rel="stylesheet/less" href="../common/common.less">
  <link rel="stylesheet/less" href="area-header.less">
  <script src="../js/lessc.js"></script>
</head>
<body>
  <div class="area-header">
    <div class="left">
    </div>
    <div class="right"></div>
  </div>
</body>
</html>